p img[src~="#thumbnail"] {
    width:100%;
    height:auto;
 }
p img[src*="#thumbnail"] {
    width:100%;
    height:auto;
 }
p img[src$='#thumbnail'] { width:100%;}
img[src*="blog"] {
    width:150px;
    height:100px;
 }